/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 0;
  margin-top: 50px;
}

.home-container {
  margin-top: 3rem;
}
.navbar {
  margin-bottom: 20px;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 40px;
}

.carousel-indicators li {
  background-color: #343a40;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  border-radius: 50%;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.btn {
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 200px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.btn-lg {
  padding: 10px 20px;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  border-radius: 25px;
}

footer a {
  color: #ffc107;
}

footer a:hover {
  color: #fff;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #343a40;
}

/* Home page styles */
.home-container {
  margin-top: 3rem;
}

.carousel {
  margin-bottom: 3rem;
}

.featured-blogs {
  margin-top: 3rem;
}

.featured-blogs .card {
  margin-bottom: 2rem;
}

.featured-blogs .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.featured-blogs .card-text {
  font-size: 1rem;
  color: #6c757d;
}

.featured-blogs .btn {
  margin-top: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }

  .carousel-inner img {
    height: 300px;
  }

  .card-body {
    padding: 15px;
  }

  .btn-lg {
    padding: 8px 16px;
  }

  .create-post-form {
    padding: 1rem;
  }

  .create-post-form .form-group {
    margin-bottom: 1rem;
  }

  .create-post-form .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .post-list-container .card {
    margin-bottom: 1rem;
  }

  .post-list-container .post-card-img {
    height: 150px;
  }

  .post-list-container .card-title {
    font-size: 1.25rem;
  }

  .post-list-container .card-text {
    font-size: 0.875rem;
  }
}